/* RESETEO */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Es importante para los tamaños */
}

/* Fuente */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tagesschrift&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

p::selection{
    background-color: rgb(97, 11, 11);
}

/*!-----HEADER-------*/









/* header{
    background-color: darkblue;
    position: sticky;
    top: 0;
    z-index: 10;
} */

header{
    background-color: purple;
}

header section{
    display: flex; /* Poderes de Flexbox */
    align-items: center; /* Alinea verticalmente */
    justify-content: flex-start; /* Distribuye elementos horizontalmente */
}

header img{
    height: 100px;
    width: 100px;
}

header h1{
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    margin-left: 450px;
    
}

/* header nav ul{
    padding-top: 25px;
    list-style: none;
} */

/* header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
} */


/*?-----MAIN----------*/

/* INDEX */

.presentacion {
    position: relative; /* Configuración para pseudo-elementos */
    padding-top: 50px;
    text-align: center;
    height: 280vh;
    
}

.presentacion section{
    display: flex;/* ORDENA A LOS HIJOS QUE SE ORDENEN EN HORIZONTAL */
    flex-direction: column;/* ORDENA A LOS HIJOS EN EL EJE Y */
    justify-content: center;/* CENTRA EN EJE Y O X */
    align-items: center;/* CENTRA EN EJE Y O X */
}

.presentacion::before {
    content: ""; /* Crea un pseudo-elemento vacío */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5; /* Aplica opacidad solo a la imagen */
    z-index: -1; /* Asegura que quede detrás del contenido */
}

.presentacion h2 {
    font-size: 40px;
    margin-top: 50px;
    position: relative; /* Mantiene el texto encima de la capa opaca */
    color: white; /* Asegura que el texto no esté opaco */
    border: 2px solid black;
    padding: 20px;
    background-color: red;
}

.presentacion h2:hover{ /*Pseudo elementos*/
    background-color: rgb(100, 13, 13);
}

.presentacion h3{
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 30px;
    position: relative; /* Mantiene el texto encima de la capa opaca */
    color: #000; /* Asegura que el texto no esté opaco */

}

.presentacion h4 {
    font-size: 30px;
    position: relative; /* Mantiene el texto encima de la capa opaca */
    border: 2px solid black;
    color: white;
    background-color: #000;
    padding: 40px 40px;
    display: inline;
}

.presentacion h5{
    margin-top: 100px;
    font-size: 20px;
}


.fi img{ /*ESTE ES EL ICONO FIJO DE WHATSAPP*/
    position: fixed;
    height: 70px;
    bottom: 40px;
    right: 10px;
}



/* REGISTRO */

.formularios .primer::first-letter{
    font-size: 70px;
    color: rgb(75, 5, 5);
    font-weight: 900;
    font-style: oblique;
}

.formularios{
    height: 150vh;
    padding-top: 80px;
}


.formularios ul li{
    padding-top: 30px;
    margin-left: 30px;
    list-style: none;
}

.formularios div{
    display: flex;
    justify-content: center;
}

.formularios div img{
    height: 80px;
    width: 80px;
    margin: 40px;
}

.formularios section{
    margin-left: 15px;
}

/* NOSOTROS */

.nosotros {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/car.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 150vh;
}

.nosotros div h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-style: italic;
}

.nosotros div p {
    margin-bottom: 40px;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

/* PRODUCTOS */

.pro .paso-uno{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.pro .grid-gal .grid-i{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    width: 250px;
    height: 75vh;
}

.tarjeta img {
    width: 100%;
    height: 200px;
}

.precio {
    text-decoration: line-through;
    color: red;
}

.tarjeta .centrado ul{
    list-style: none;
    display: inline-block;
}

.tarjeta .centrado ul li{
    padding-top: 15px;
}

.paso-uno .tarjeta .centrado ul li button:active{
    background-color: yellow;
}

/* !-- GRIDS -- */

.grid-gal{
    margin: 5px;
    display: grid;
    /* grid-template-rows: 200px 200px 200px; */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;
}

.grid-gal div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-i{
    position: relative;
}

.grid-i h3{
    background-color: rgba(0, 0, 0, 0.322);
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
}

.img-6{
    grid-row: span 2;
}


/* UBICACIÓN */

.mapa {
    display: flex;
    flex-direction: column;
    height: 220vh;
}

.mapa section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa section a h2{
    margin-top: 50px;
    margin-bottom: 40px;
    color: blue;
    text-align: center;
}

.mapa .horario h2{
    margin-top: 80px;
}

.mapa .horario h3{
    margin-top: 35px;
    margin-bottom: 20px;
}

.mapa .horario ul li{
    margin-bottom: 20px;
}

.mapa .horario ul{
    list-style: none;
}


.mapa .horario {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}



/**-----FOOTER--------*/

footer{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
}


footer div img{
    height: 35px;
    width: 50px;
}

footer h2{
    color: black;
    text-align: start;
}

footer h3{
    color: black;
    text-align: center;
}

@media screen and (max-width:385px){
    footer div img{
        height: 15%;
        width: 15%;
    }

    footer h2{
        font-size: 15px;
    }
    
    footer h3{
        font-size: 15px;
    }
}
    
