/* NOSOTROS */

.nosotros {
  color: $blanco;
  padding: 50px 0;
  background-image: $fondo-nosotros;
  @include fondo(cover, no-repeat, center, fixed);
  height: 200vh;

  div {
    h2 {
      font-size: 40px;
      text-align: center;
      padding: 20px 0;
      margin-bottom: 40px;
      font-style: italic;
    }

    p {
      margin: 0 20px 40px;
      font-size: 30px;
    }
  }
}

p::selection {
  background-color: $verde;
}