$verde: green;
$blanco: white;
$negro: black;
$rojo: red;
$azul-link: blue;
$gris-claro: #f5f5f5;
$fondo-nosotros: url("../img/supercar.png");

$colors:
green,
white,
black,
red,
darkblue;


$px:
10px,
20px,
30px,
40px,
50px;

/* EXTENDS @extends %boton por ejm*/

%img{
    height: 100px;
    width: 100px;
}



/* MIXIN   ES COMO UNA FUNCIÓN DE PROGRAMACIÓN*/

@mixin fondo($size, $repeat, $position,$attach){
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
    background-attachment: $attach;
}
